<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Museos Tab -->
  <ion-tab title="Museos" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/museos">
    <ion-nav-view name="tab-museos"></ion-nav-view>
  </ion-tab>

  <!-- Mapa Tab -->
  <ion-tab title="Mapa" icon-off="ion-ios-navigate-outline" icon-on="ion-ios-navigate" href="#/tab/mapa">
    <ion-nav-view name="tab-mapa"></ion-nav-view>
  </ion-tab>

  <!-- Eventos Tab -->
  <ion-tab title="Eventos" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/eventos">
    <ion-nav-view name="tab-eventos"></ion-nav-view>
  </ion-tab>


</ion-tabs>
