<ion-view view-title="Eventos">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-search" ng-click="searchBar()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="bar bar-header item-input-inset" ng-show="showSearchBar">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input ng-model="searchBar.searchText" placeholder="{{LABEL_SEARCH}}" type="search">
      </label>
      <i class="icon placeholder-icon ion-ios-close-outline" on-touch="searchBar.searchText = ''"></i>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="avatar.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </div>
    </div>

  </ion-content>
</ion-view>
