<ion-view view-title="Museo">
  <ion-nav-buttons side="right">
    <button class="button icon ion-navicon" ng-click="vm.popover.show($event)"></button>
  </ion-nav-buttons>
  <ion-content>

    <div class="bar bar-header item-input-inset" ng-show="showSearchBar">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input ng-model="searchBar.searchText" placeholder="{{LABEL_SEARCH}}" type="search">
      </label>
      <i class="icon placeholder-icon ion-ios-close-outline" on-touch="searchBar.searchText = ''"></i>
    </div>

    <ion-refresher pulling-text="Desliza para actualizar..." on-refresh="actualizarEventos()">
    </ion-refresher>

    <div class="card" ng-show="eventos.length<=0">
      <div class="item item-text-wrap" style="color: #B2B2B2;">No hay eventos próximos para este museo. Puedes probar recargar la página</div>
    </div>

    <ion-list>
      <ion-item ng-repeat="evento in eventos" style="padding: 0px;">
        <div class="card" style="margin-bottom: 10px;">
          <div class="item item-avatar">
            <img src="{{evento.imagen}}">
            <h2>{{evento.nombre}}</h2>
            <p class="gray">{{evento.fecha}}</p>
          </div>
          <div class="item ">
            <p>{{evento.descripcion}}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
