<ion-popover-view>
  <ion-content>
    <div class="list">

      <div class="item item-icon-left" ng-click="vm.popover.hide()">
        <i class="icon ion-bookmark"></i>
        Historia
      </div>
      <div class="item item-icon-left" ng-click="vm.popover.hide()">
        <i class="icon ion-clipboard"></i>
        Información
      </div>
      <div class="item item-icon-left" ng-click="vm.popover.hide()">
        <i class="icon ion-images"></i>
        Galería
      </div>
      <div class="item item-icon-left" ng-click="vm.popover.hide()">
        <i class="icon ion-chatbubbles"></i>
        Comentarios
      </div>
      <div class="item item-icon-left" ng-click="vm.popover.hide()">
        <i class="icon ion-pin"></i>
        Eventos
      </div>
    </div>
  </ion-content>
</ion-popover-view>
