<ion-view view-title="{{museo.nombre}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-more-vertical" ng-click="vm.popover.show($event)"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
    <div class="item item-divider">
      <h2>{{museo.nombre}}</h2>
      <p>{{tipoMuseo.tipo}}</p>
    </div>
      <div class="item item-divider">
        <p>
          {{museo.descripcion}}
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
