<ion-popover-view>
  <ion-content>
    <div class="list">
      <div class="item item-icon-left" ng-click="vm.popover.hide()">
        <i class="icon ion-speakerphone"></i>
        Announcement
      </div>
      <div class="item item-icon-left" ng-click="vm.popover.hide()">
        <i class="icon ion-compose"></i>
        Assignment
      </div>
      <div class="item item-icon-left" ng-click="vm.popover.hide()">
        <i class="icon ion-document-text"></i>
        Note
      </div>
      <div class="item item-icon-left" ng-click="vm.popover.hide()">
        <i class="icon ion-calendar"></i>
        Event
      </div>
    </div>
  </ion-content>
</ion-popover-view>
