<ion-view view-title="Museo">
  <ion-nav-buttons side="right">
    <button class="button icon ion-navicon" ng-click="vm.popover.show($event)"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
    <div class="item item-divider">
      <h2>{{museo.nombre}}</h2>
      <p >{{museo.tipoMuseo}}</p>
    </div>
    <div class="item item-image">
      <img class="full-image" ng-src="{{museo.imagen}}" >
    </div>
      <div class="body-tumblr history" ng-bind-html="historia">

      </div>
    </div>
  </ion-content>
</ion-view>
